SECRET_KEY_JWT=''
SECRET_KEY_REFRESH=''

# Seguridad de Cookies (Opcional - False en dev, True en producción)
COOKIE_SECURE=false
COOKIE_SAMESITE=lax
COOKIE_PATH=/users
ACCESS_TOKEN_EXPIRE_SECONDS=30
REFRESH_TOKEN_EXPIRE_MINUTES=600

ROUTE_API='http://localhost:8000/'
ROUTE_APP='http://localhost:4200/'

DB_URL=''
DB_TYPE=''
DB_USER=''
DB_PASSWORD=''
DB_HOST=''
DB_PORT=''
DB_NAME=''

DIRECTORY_DOC=''

DEBUG = True